<div class="es-control" {{action "focus" on="mouseDown"}}>
  <div class="input-field">
    {{#if this.hasValues}}
      <span class="es-selections">
        {{#each @values as |option|}}
          <span {{action "remove" option}}>
            {{if (get option this.labelKey) (get option this.labelKey) option}} ×
          </span>
        {{/each}}
      </span>
    {{/if}}

    <input
      type="text"
      autocomplete="off"
      autofocus={{this.autofocus}}
      readonly={{unless this.canSearch "readonly"}}
      oninput={{action "change" value="target.value"}}
      onkeydown={{action "keypress"}}
      onfocus={{action "focus"}}
      onblur={{action "blur"}}
    >

    <label class="{{if this.isActive "active"}}">
      {{this.label}}
    </label>

    {{yield}}
  </div>

  {{#if this.hasDropdown}}
    <span class="es-arrow-zone" {{action "dropdown" on="mouseDown" bubbles=false}}>
      <span class="es-arrow"></span>
    </span>
  {{/if}}
</div>

{{#if this.isOpen}}
  <div class="es-options z-depth-1">
    {{component this.dropdown
      parent=this
      model=@model
      token=this.token
      values=@values
      labelKey=this.labelKey
      valueKey=this.valueKey
      freeText=this.freeText
      shouldFilter=this.shouldFilter
      select=(action "select")
    }}
  </div>
{{/if}}
