{{#each this.options as |group|}}
  {{#if group.isVisible}}
    <span class="es-groups">
      <div class="es-group">{{group.name}}</div>
      {{#each group.children as |option|}}
        {{#if option.isVisible}}
          <SelectDropdownOption
            @model={{option}}
            {{on "click" (fn this.select option)}}
            {{on "mousedown" this.mouseDown}}
            {{on "mouseenter" (fn this.hover option)}}
          />
        {{/if}}
      {{/each}}
    </span>
  {{/if}}
{{/each}}
